## Q1. What is a database? Differentiate between SQL and NoSQL databases.

# Answer

## Definition
## Python supports various databases like SQLite, MySQL, Oracle, Sybase, PostgreSQL, etc. Python also supports Data Definition Language (DDL), Data Manipulation Language (DML) and Data Query Statements. The Python standard for database interfaces is the Python DB-API.



## SQL Database Definition
## SQL database or relational database is a collection of highly structured tables, wherein each row reflects a data entity, and every column defines a specific information field. Relational databases are built using the structured query language (SQL) to create, store, update, and retrieve data.

## Difference between SQL and NoSQL : SQL databases are vertically scalable, while NoSQL databases are horizontally scalable. SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores. SQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON.

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

## Answer

## Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQL.

## CREATE :
## This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.

CREATE TABLE table_name

(
 column_1 datatype,
column_2 datatype,
column_3 datatype,
....
);


## Examples –
## CREATE
## We need to create a table for storing Student information of a particular College. Create syntax would be as below.

CREATE TABLE Student_info
(
College_Id number(2),
College_name varchar(30),
Branch varchar(10)
);

## ALTER :
## This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, delete or modify tasks easily.


## Example –
## In our Student_info table, we want to add a new column for CGPA. The syntax would be as below as follows.

ALTER TABLE Student_info
ADD CGPA number;

## TRUNCATE :
## This command is used to remove all rows from the table, but the structure of the table still exists.

## Example –
## The College Authority wants to remove the details of all students for new batches but wants to keep the table structure. The command they can use is as follows.

TRUNCATE TABLE Student_info;

## DROP :
## This command is used to remove an existing table along with its structure from the Database.


## Example –
## If the College Authority wants to change their Database by deleting the Student_info Table. 

DROP TABLE Student_info;

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example

## Answer

## Data Manipulation Language or DML is a subset of operations used to insert, delete, and update data in a database. A DML is often a sublanguage of a more extensive language like SQL; DML comprises some of the operators in the language.

## In the Statement field, enter the SQL statement to insert, update, or delete the records.

## example

## Use an INSERT statement to create new records in a table:
INSERT INTO table_name (column1, column2, column3, ...)
VALUES (value1, value2, value3, ...)

## Use an UPDATE statement to modify a record:
UPDATE table_name
SET column1 = value1, column2 = value2, ...
WHERE condition


## Use a DELETE statement to remove a record:
DELETE FROM table_name WHERE condition
Example: DELETE FROM Persons WHERE LastName='Smith'

## Q4. What is DQL? Explain SELECT with an example.

## Answer

## Query languages, often known as DQLs or Data Query Languages, are computer languages that are used to make various queries in information systems and databases. The Structured Query Language (SQL) is a well-known example. DQL statements are used to query the data contained in schema objects.

## Examples: Given a table T, the query SELECT * FROM T will result in all the elements of all the rows of the table being shown. With the same table, the query SELECT C1 FROM T will result in the elements from the column C1 of all the rows of the table being shown.

In [ ]:
SELECT College_name FROM Student_info;

## Q5. Explain Primary Key and Foreign Key.

## Answer

## Primary keys serve as unique identifiers for each row in a database table. Foreign keys link data in one table to the data in another table. A foreign key column in a table points to a column with unique values in another table (often the primary key column) to create a way of cross-referencing the two tables.

## The PRIMARY KEY constraint uniquely identifies each record in a table. Primary keys must contain UNIQUE values, and cannot contain NULL values. A table can have only ONE primary key; and in the table, this primary key can consist of single or multiple columns.

## A foreign key column in a table points to a column with unique values in another table (often the primary key column) to create a way of cross-referencing the two tables.

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

## Answer

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

print(mydb)

## A cursor encapsulates a SQL query and returning results. You only need an explicit cursor if you want more information or control over execution. Using Connection. execute() or Connection.

## Q7. Give the order of execution of SQL clauses in an SQL query.

## Answer

## The correct order of execution in SQL is FROM, WHERE, GROUP BY, HAVING, SELECT, DISTINCT, ORDER BY and LIMIT.